/* 
All components
*/

.component_wrap {
  display: flex;
  gap: 50px;
}
.component_demo,
.component_api {
  width: 40%;
}
.component_props li {
  padding: 5px 25px;
  background-color: #E9E9E9;
  border-radius: 30px;
  margin-right: 20px;
  display: inline;
  cursor: pointer;
}
.component_props li.active {
  background-color: #373737;
  color: white;
}
.component_code {
  overflow: auto;
  background-color: #F5F7F9;
  margin-top: 50px;
  padding: 20px 0;
}
.text_marker {
  color: red;
}